<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width" ,initial-scale="1">
<link href="./static/css/bootstrap.css" rel="stylesheet">
<link href="./static/css/custom.css" rel="stylesheet">

<title>SEA-REAL</title>


</head>
<style>
body {
   background-image: url("./static/img/울산항.jpg");
   background-color: #D9E5EF;
}
</style>
<body>
   <nav class="navbar navbar-default">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">

            <span class="icon-bar"></span> <span class="icon-bar"></span><span
               class="icon-bar"></span>
         </button>

         <a class="navbar-brand" href="/">SEA-REAL</a>

      </div>

      <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">


         <ul class="nav navbar-nav navbar-right">

            <li class="dropdown"><a href="#" class="dropddown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true" S
               aria-expanded="false">실시간 선박입출항<span class="caret"></span></a>

               <ul class="dropdown-menu">

                  <li class="active"><a href="/test1">선박입출항 스케쥴</a></li>

                  <li><a href="/test2">선박입출항 시각화</a></li>

               </ul></li>

            <li class="dropdown"><a href="#" class="dropddown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true" S
               aria-expanded="false">실시간 부두상황<span class="caret"></span></a>

               <ul class="dropdown-menu">

                  <li><a href="c.jsp">부두상태</a></li>

                  <li><a href="d.jsp">-</a></li>

               </ul></li>

            <li class="dropdown"><a href="#" class="dropddown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true" S
               aria-expanded="false">통계 분석<span class="caret"></span></a>

               <ul class="dropdown-menu">

                  <li><a href="e.jsp">주요 화물 물동량 예측</a></li>

                  <li><a href="f.jsp">부두 능력 검증</a></li>

               </ul></li>

         </ul>

      </div>

   </nav>
   <div class="container">
      <div class = "row">
      </div>
   
   </div>
   <script
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
   <script src="./static/js/bootstrap.js"></script>

   </div>
   </nav>
   <div class="container">
      <div class="jumbotron">
         <b><h2>선박입출항 시각화</h2></b>
         <p>
         <h3>빅데이터를 이용한 해상 안전 모니터링 시스템</h3>
         <p>
         <h5>
            <a class="btn-primary btn-pull" href="a" role="button">자세히 알아보기</a>
         </h5>
      </div>
   </div>

   </div>
</body>

</html>
