<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width" ,initial-scale="1">

<link rel="stylesheet" href="./static/css/bootstrap.css">
<link rel="stylesheet" href="./static/css/custom.css">
<link rel="stylesheet" href="./static/css/port2.css">
<title>SEA-REAL</title>

</head>
<style>

</style>


<body>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SEA-REAL</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropddown-toggle"data-toggle="dropdown" role="button" aria-haspopup="true" Saria-expanded="false">실시간 선박 입출항
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="/test1">하역 능력 평가</a></li> -->
                        <!-- <li><a href="/test2">접안능력 평가</a></li> -->
                        <li><a href="/test1">선박 입출항 현황</a></li>
                        <li><a href="/test2">선박 입출항 Visual Chart</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropddown-toggle"data-toggle="dropdown" role="button" aria-haspopup="true" Saria-expanded="false">실시간 부두 상황
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="/test3">하역 능력 평가</a></li> -->
                        <!-- <li><a href="/test4">접안능력 평가</a></li> -->
                        <li><a href="/test3">부두 시설 상태</a></li>
                        <li><a href="/test4">부두 정박 선박 모니터링</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropddown-toggle"data-toggle="dropdown" role="button" aria-haspopup="true" Saria-expanded="false">부두 능력 평가
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="/test5">하역 능력 평가</a></li> -->
                        <!-- <li><a href="/test6">접안능력 평가</a></li> -->
                        <li><a href="/test5">하역 능력 평가</a></li>
                        <li><a href="/test6">접안 능력 평가</a></li>
                    </ul>
                </li>

                <li>
                    <!-- /test5 -->
                    <a href="/test7"  aria-haspopup="true" Saria-expanded="false">주요 품목 물동량 예측
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


   <script
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
   <script src="../static/js/bootstrap.js"></script>

   </div>
   </nav>
   <div class="container">

         <b><h2>서비스 소개</h2></b> <br> <b><h3>Ulsan Port
               Monitoring System Using Big Data</h3></b>
         <h4>울산항만의 다양한 데이터를 시각화 및 분석하여 항만 관리자들의 의사결정을 지원하는 시스템</h4>
         <br>
         <div class="icons">
            <br>
            <div class="icons-item">
               <img src="./static/img/aaa.png" width=200 height=200>
               <div class="icons-item-title">실시간 선박 입출항</div>
               <div class="icons-item-detail">당일 선박입출항 스케줄과 시각화 자료를 실시간으로
                  확인할 수 있습니다.</div>
            </div>

            <div class="icons-item">
               <img src="./static/img/bbb.png" width=200 height=200>
               <div class="icons-item-title">실시간 부두 상황</div>
               <div class="icons-item-detail">당일 부두 시설 상태와 부두 정박선박을 모니터링 할 수
                  있습니다.</div>

            </div>

            <div class="icons-item">
               <img src="./static/img/ccc.png" width=200 height=200>
               <div class="icons-item-title">부두 능력 평가</div>
               <div class="icons-item-detail">군집분석을 통해 부두별 하역 능력과 접안능력 평가
                  Report를 제공해 줍니다.</div>
            </div>


            <div class="icons-item">
               <img src="./static/img/ddd.png" width=200 height=200>
               <div class="icons-item-title">주요 품목 물동량 예측</div>
               <div class="icons-item-detail">울산항의 주요 취급 품목인 유류, 화학공업제품,
                  자동차의 2020년 하반기 물동량을 예측해 줍니다.</div>
            </div>

         </div>


   </div>

   </div>
</body>

</html>
